/* ops-x boilerplate - transition classes */
   
.x-collapse {
opacity: 0;
max-height: 0px;
overflow: hidden;
transition: var(--smooth-collapse);
}

.x-expand {
opacity: 1;
max-height: 1250px;
overflow: hidden;
transition: var(--smooth-expand);
}


